<main class="text-center" id="main">
  <div
    class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
  >
    <body class="text-center">
      <div class="card">
        <div id="card-body ">

          <div
            class="d-flex flex-columnjustify-content-center align-items-center"
          >
            <h1>User Login</h1>
          </div>
          <form class="login-form">
            <input type="email" id="email" name="login" placeholder="email" />
            <input
              type="text"
              id="password"
              name="login"
              placeholder="password"
            />
            <input type="submit" class="fadeIn fourth" value="Log In" />
            <a href="/signup">No account? Sign up!</a>
          </form>
        </div>

      </div>
    </body>
  </div>
  <script src="/js/login.js"></script>
</main>