<main class="text-center" id="main">
  <div
    class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
  >
    <body class="text-center">
      <div class="card">
        <div id="card-body ">

          <div
            class="d-flex flex-columnjustify-content-center align-items-center"
          >
            <h1>Create a Post!</h1>
          </div>

          <form class="form-post">
            <input
              type="text"
              name="username"
              id="username"
              placeholder="username"
            />

            <input
              type="text"
              id="postText"
              name="post"
              placeholder="think of something"
            />
            <input type="submit" class="fadeIn fourth" value="Post" />

          </form>
        </div>

      </div>
    </body>
  </div>
  <script src="/js/post.js"></script>
</main>